@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #a0aec0 #edf2f7; /* thumb color, track color */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #edf2f7;
}